---
export const partial = true;
export const prerender = true;

const file = Bun.file('/tmp/count.txt');

const count: Number = parseInt(await file.text()) - 1;

await Bun.write(file, count.toString());
---

<span id="count" hx-swap-oob="true">
    {count}
</span>